version: '2.4'
services:

  master1:
    ports:
    - 17143:17143
    - "31710-31719:31710-31719"
    mem_limit: 8589934592
    memswap_limit: 0

  ystack-proxy:
    ports:
    # To run skaffold build/run/dev locally
    - 80:80
    # To support y-build as skaffold build
    - 8547:8547
    # To support y-assert
    - 9090:9090
    - 9093:9093

  sut:
    environment:
    - KEEP_RUNNING=${YSTACK_SUT_KEEP_RUNNING-true}
    - EXAMPLES=${YSTACK_SUT_EXAMPLES-}

volumes:
  admin:
    driver: local
    driver_opts:
      type: none
      device: $YSTACK_HOME/devcluster
      o: bind
