apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ystack # install's app_url depends on namespace
resources:
- git-service.yaml
- gitea-statefulset-service.yaml
- gitea-statefulset.yaml
images:
- name: gitea/gitea
  newName: ghcr.io/yolean/gitea
  newTag: 1.25.1@sha256:b3aee0f6fa4ff3271180a2388bb796be5cced8828685b968a310d70e881fcbb3
