apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: docker:dind
  newName: ghcr.io/yolean/dockerd
  newTag: 29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
- name: docker:dind-rootless
  newName: ghcr.io/yolean/dockerd
  newTag: 29.2.1-dind-rootless@sha256:68bb0d88ed4134f6cc41f04c62e5e49762051b16f628abf84db6f7c33994885c

resources:
- dockerd-service.yaml
- dockerd-statefulset.yaml

configMapGenerator:
- name: etc-docker
  files:
  - daemon.json
