# yaml-language-server: $schema=https://json.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: registry
  newName: ghcr.io/yolean/registry
  newTag: 3.0.0@sha256:6c5666b861f3505b116bb9aa9b25175e71210414bd010d92035ff64018f9457e

resources:
- deployment.yaml

configMapGenerator:
- name: registry-config
  files:
  - config.yml

secretGenerator:
- name: registry
  literals:
  - http_secret=TODO_GENERATE_RANDOM_SECRET
