apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
- name: moby/buildkit:rootless
  newName: ghcr.io/yolean/buildkit
  newTag: v0.27.0-rootless@sha256:586cf37ba4bafd151058aa9c857fe06036942a2a765d7dc5630098cf31834200

resources:
- service.yaml
- statefulset.yaml

configMapGenerator:
- name: etc-buildkit
  files:
  - buildkitd.toml
