apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- github.com/Yolean/kubernetes-assert/runtime-nodejs/kustomize?ref=41207ccf8536ce022919d9aef86d2124b2c142b1
namePrefix: ystack-
commonLabels:
  app: ystack
images:
- name: yolean/assert-runtime-nodejs
  newName: builds-registry.ystack.svc.cluster.local/yolean/ystack-specs
